.git
.github
.venv
.env
.secrets
.pytest_cache
.ruff_cache
**/__pycache__
**/*.egg-info
**/*.pyc
**/*.eqx
artifacts
checkpoints
data
infra/aws/cdk.out
infra/aws/node_modules
infra/aws/cdk-outputs.json
wandb
